<div class="container">
    <mat-card class="add-doctor-card">
      <mat-card-header>
        <mat-card-title>Add New Doctor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Enter Name" maxlength="20">
            <mat-error *ngIf="doctorForm.get('name')?.hasError('required')">Name is required</mat-error>
            <mat-error *ngIf="doctorForm.get('name')?.hasError('maxlength')">Name cannot exceed 20 characters</mat-error>
            <mat-error *ngIf="doctorForm.get('name')?.hasError('pattern')">Name cannot contain numbers</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Specialization</mat-label>
            <input matInput type="text" formControlName="specialization" placeholder="Enter Specialization" maxlength="20">
            <mat-error *ngIf="doctorForm.get('specialization')?.hasError('required')">Specialization is required</mat-error>
            <mat-error *ngIf="doctorForm.get('specialization')?.hasError('maxlength')">Specialization cannot exceed 20 characters</mat-error>
            <mat-error *ngIf="doctorForm.get('specialization')?.hasError('pattern')">Specialization cannot contain numbers</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" placeholder="Enter Username" maxlength="20">
            <mat-error *ngIf="doctorForm.get('username')?.hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="doctorForm.get('username')?.hasError('maxlength')">Username cannot exceed 20 characters</mat-error>
            <mat-error *ngIf="doctorForm.get('username')?.hasError('pattern')">Username cannot contain numbers</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter Password" maxlength="20">
            <mat-error *ngIf="doctorForm.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="doctorForm.get('password')?.hasError('maxlength')">Password cannot exceed 20 characters</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Contact</mat-label>
            <input matInput type="text" formControlName="contact" placeholder="Enter Contact" maxlength="10">
            <mat-error *ngIf="doctorForm.get('contact')?.hasError('required')">Contact is required</mat-error>
            <mat-error *ngIf="doctorForm.get('contact')?.hasError('pattern')">Contact must be a 10-digit number</mat-error>
          </mat-form-field>
          <br>
          <div class="button-group">
            <button mat-stroked-button class="cancel-button" (click)="goToDoctorList()">Cancel</button>
            <button mat-raised-button class="submit-button" type="submit" [disabled]="!doctorForm.valid">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  