.button-standard {
    width: 100px; 
    height: 36px; 
  }
  .custom-button{
    background-color: #f545c9!important;
    color: white !important;
    
}
.button-group {
  display: flex;
  gap: 10px; 
  vertical-align: center;
}
  
  .custom-fab-button{
    width: 45px;  
  height: 45px; 
  border-radius: 20px !important ;
  background-color: white;
   padding:10px;
  color:black;
  }
  
  .mat-icon {
    margin-right: 4px;
  }
  .search-and-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  }