<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital management website</title>

    <script src="https://kit.fontawesome.com/c1df782baf.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
   
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>

</head>
<body> 

    <header>
        
        <div width="900px" style="font-size:30px;font-family:Georgia, 'Times New Roman', Times, serif;"> <font color="#f545c9"> Serenity</font><font color="#000"> Hospital</font></div>
        <div class="logo" ></div> 
        <nav class="navbar">
            <a href="#Home">Home</a>
            <a href="#About">About</a>
            <a href="#Doctor">Doctors</a>
            <a href="#Service">Service</a>            
            <a href="#Contact">Contact</a>
        </nav>

        <div class="right-icons">
            <div id="menu-bars" class="fas fa-bars"></div>
            
            <button style="margin: 5px;" class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color: white;" href="javascript:void(0);" routerLink="/doclogin">Doctor</a></button>
                <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/adminlogin">Admin</a></button>
                
        </div>

    </header>

    <!-- header section ended -->

    <!-- Home section started -->

        <div class="main-home">

            <div id="Home" class="home">
                <div class="home-left-content">
                    <span>welcome to hospital management</span>
                    <h2>We take care of our<br> Patients Healths</h2>
                    <p class="lorem">Right from fertility to maternity care and delivery to paediatric care, we got you covered! </p>
                
                        <div class="home-btn">
                            <a href="#Service">Read More</a>
                            
                        </div>
                        
                    </div>

                <div class="home-right-content">
                    <img src="/assets/hero2.png" alt="">
                </div>
            </div>
        </div>


        <div class="technology">
            <div class="main-technology">
                
                <div class="inner-technology">
                    <span></span>
                    <i class="fi fi-tr-hands-heart"></i>
                    <h2>Award-Winning Excellence</h2>
                    <p>Serenity Hospital proudly boasts a distinguished reputation as an award-winning healthcare institution.</p>
                </div>

                <div class="inner-technology">
                    <span></span>
                    <i class="fi fi-rr-doctor"></i>
                    <h2>Maternity (Obstetric) Services</h2>
                    <p>Our Team at Womens Hospital ensures the utmost Priority on Care and Comfort when it comes to Maternity Services.</p>
                </div>

                <div class="inner-technology">
                    <span></span>
                    <i class="fi fi-tr-user-md"></i>
                    
                <h2>Quality & Safety</h2>
                    <p>Our Serenity hospital utilizes state of the art technology and employs a team of true experts.</p>
                </div>
            </div>
        </div>

    <!-- home section ends -->

    <!-- About us section started -->

        <div id="About" class="main-about">

            <div class="about-heading">About Us</div>

            <div class="inner-main-about">
                <div class="about-inner-content-left">
                    <img src="/assets/about1.png" alt="">
                </div>

                <div class="about-inner-content">
                    <div class="about-right-content">
                        <h2>We're setting Standards in Research <br> what's more, Clinical Care.</h2>
                        <p>Our mission is to provide the most comprehensive medical services so that every woman has the opportunity to receive high-quality healthcare.</p>
                        <p class="aboutsec-content">
                          Our team of skilled healthcare professionals, specializing in women's health, is backed by years of experience and training. We are dedicated to delivering personalized care that empowers women to make informed decisions about their health.
                        <br>
                        <br>
                        Thank you for choosing Serenity!    
                        </p>
                            <button class="aboutbtn">Read More</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- About us section ends -->

    <!-- our doctors -->

        <div id="Doctor" class="main-doctors">
            <div class="doctors-heading">
                <h2>Our Doctors</h2>
            </div>

            <div class="main-inner-doctor">
                <div class="doc-poster">
                    
                    <img src="/assets/team1.jpg" alt="">

                    <div class="doc-details">
                        <h2>Dr. Kanchan Pawar</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

                <div class="doc-poster">
                    
                    <img src="/assets/team2.jpg" alt="">
                    <div class="doc-details">
                        <h2>Dr. Prashant Pawar</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>

                <div class="doc-poster">
                    
                    <img src="/assets/team3.jpg" alt="">
                    <div class="doc-details">
                        <h2>Dr. Yashvi Neema</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>

                <div class="doc-poster">
                    
                    <img src="/assets/team4.jpg" alt="">
                    <div class="doc-details">
                        <h2>Dr. Ramya B.</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>

                <div class="doc-poster">
                    
                    <img src="/assets/team5.jpg" alt="">
                    <div class="doc-details">
                        <h2>Dr. Saransh Suri</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>

                <div class="doc-poster">
                    
                    <img src="/assets/team6.jpg" alt="">

                    <div class="doc-details">
                        <h2>Dr. Lasya Pawar</h2>
                        
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>
            </div>

        </div>

    <!-- our doctors ended -->

    <!-- our services -->

    <div id="Service" class="our-service">
        <div class="service-heading">
            <h2>Our Services</h2>
        </div>

        <div class="main-services">
            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-ss-truck-medical"></i>
                </div>
                <h3>Maternity</h3>
                <p>Comprehensive care for expectant mothers, including prenatal care, childbirth, and postnatal support.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-ss-hospital"></i>
                </div>
                <h3>Gynaecology</h3>
                <p>Specialized care for women's reproductive health issues, including menstrual disorders, fertility concerns, and gynecological surgeries.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-sr-heart"></i>
                </div>
                <h3>Pediatric Care</h3>
                <p>Medical services tailored to meet the unique healthcare needs of infants, children, and adolescents.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-tr-user-md"></i>   
                </div>
                <h3>Radiology</h3>
                <p>Diagnostic imaging services, such as X-rays, MRI, and ultrasound, to aid in the diagnosis and treatment of various medical conditions.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-sr-apple-whole"></i>
                </div>
                <h3>Nutrition and Dietetics</h3>
                <p>Personalized dietary guidance and nutrition counseling to promote overall health and well-being.</p>
            </div>

            <div class="inner-services">
                <div class="service-icon">
                    <i class="fi fi-ss-massage"></i>
                </div>
                <h3>Physiotherapy</h3>
                <p>Rehabilitation and physical therapy services to improve mobility, reduce pain, and enhance quality of life.</p>
            </div>
            <div class="inner-services">
              <div class="service-icon">
                  <i class="fi fi-sr-person-pregnant"></i>
              </div>
              <h3>Breastfeeding Support</h3>
              <p>Education, guidance, and lactation consultation to assist new mothers in breastfeeding their infants successfully.</p>
          </div>
          <div class="inner-services">
            <div class="service-icon">
                <i class="fi fi-rr-child-head"></i>
            </div>
            <h3>NICU (Neonatal Intensive Care Unit)</h3>
            <p>Specialized medical care for premature or critically ill newborns, providing advanced monitoring and treatment.</p>
        </div>
        <div class="inner-services">
          <div class="service-icon">
              <i class="fi fi-rs-blood-test-tube"></i>
          </div>
          <h3>Stem Cell Banking</h3>
          <p>Preservation and storage of umbilical cord blood and tissue for potential future medical use.</p>
      </div>
        </div>
    </div>

    <!-- our services ended -->


    
    


    <!-- customer review -->
   
        <div class="main-review">
            <section>  
            <div class="review-heading">
                <h1>Our Customers Review</h1>
            </div>

            <div class="main-inner-review">

                <div class="review-inner-content">

                    <div class="review-box">
                        <img src="/assets/pic1.png" alt="">

                        <h2>Joyti Mukherjee</h2>
                        <div class="review-stars">
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
    
                        <div class="review-text">
                            <p>"I recently gave birth to my first child at Serenity Hospital, and I couldn't be happier with the care I received. The maternity ward staff were incredibly supportive throughout my entire journey, from prenatal appointments to postnatal care. " </p>
                        </div>

                    </div>

                    <div class="review-box">
                        <img src="/assets/pic2.png" alt="">

                        <h2>Vishal G.</h2>
                        <div class="review-stars">
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
    
                        <div class="review-text">
                            <p>"Serenity Hospital provided exceptional care for my wife during her pregnancy. As a husband, I felt included and supported throughout the entire journey. The staff's attentiveness and professionalism made our experience memorable and stress-free."</p>
                            </div>

                    </div>

                    <div class="review-box">
                        <img src="/assets/pic3.png" alt="">

                        <h2>Kajal Garud</h2>
                        <div class="review-stars">
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fi fi-ss-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
    
                        <div class="review-text">
                            <p>As someone who has struggled with gynecological issues, finding a healthcare provider I trust has been challenging. However, my experience at Serenity Hospital completely exceeded my expectations. The team was knowledgeable, and respectful of my concerns."" </p>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        </div>
    
    <!-- customer review -->


    <!-- footer -->

    <div id="Contact" class="main-footer">
        <div class="footer-inner">
            <div class="footer-content">
                <h1>Contact Us</h1>
                <div class="link">
                <a >{{'info@serenitycare.com'}}</a>
                <a >+91 3743286387</a>
                </div>
                
                <h1>Registered Office</h1>
                <div class="link">
                <a >1533, 9th Main, 3rd Block, Jayanagar, Bengaluru 560011</a>
                
                <a>Tel: +91 273415356</a>
                </div>
                
                <h1>Corporate Office</h1>
                <div class="link">
                <a>2nd & 3rd Floor, Attic Space Legacy, Outer Ring Rd, opp. Serenity Hospital, Bengaluru, Karnataka 560103</a>
                </div>
            </div>

            <div class="footer-content">
                <h1>Our Locations</h1>
                <div class="link">
                    <a href="">Indore</a>
                <a>Pune</a>
                <a>Delhi</a>
                <a>Bengluru</a>
                <a>Jaipur</a>
                <a>Kolkata</a>
                <a>Mumbai</a>
              
                </div>
            </div>

            <div class="footer-content">
                <h1>Site Map</h1>
                <div class="link">
                <a >Home</a>
                <a >About Us</a>
                <a >Our Doctors</a>
                <a >Our Services</a>
                <a >Contact</a>
                <a >Book an Appointment</a>
                <a >Doctor/Admin Login</a>

                </div>
            </div>

            

            
        </div>
    </div>
        
    <!-- footer ended -->
    <script>
        // Smooth scrolling behavior for the links
        document.addEventListener('DOMContentLoaded', function() {
            function smoothScrollTo(targetId) {
                var targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            }

            var linksWithSmoothScrolling = document.querySelectorAll('a[href^="#"]');
            linksWithSmoothScrolling.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    var targetId = this.getAttribute('href').slice(1);
                    smoothScrollTo(targetId);
                });
            });
        });
    </script>

   

</body>
</html>