
<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('oldPassword')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
        <mat-icon>{{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">Old password is required</mat-error>
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('minlength')">Minimum length is 6</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('newPassword')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">New password is required</mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">Minimum length is 6</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="hideConfirmNewPassword ? 'password' : 'text'" formControlName="confirmNewPassword">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmNewPassword')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmNewPassword">
        <mat-icon>{{hideConfirmNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">Confirmation is required</mat-error>
      <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('minlength')">Minimum length is 6</mat-error>
    </mat-form-field>
    <div class="button-group">
      <button mat-stroked-button style="background-color: white; color:#f545c9" type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button style="background-color: #f545c9; color:white" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
    </div>
  </form>
</mat-dialog-content>
